.div{style: "float: left; width: 40%; border: 1px solid #dadada; height: 410px; overflow: auto"}
  %form{method: 'post', action: "/upload", enctype: "multipart/form-data", target: "frame"}
    %input{type: "file", name: 'file'}
    %input{type: "submit", value: 'upload'}
.div{style: "float: left; width: 40%; border: 1px solid #dadada; height: 410px; overflow: auto"}
  %iframe{src: '/download', style: "width: 99%; height: 200px"}
  %iframe{ style: "width: 99%; height: 200px", id: 'frame'}