!!!
%html
  %head
    %title olO_loAd beta
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/bootstrap-responsive.min.css'}

  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{href: '/'} olO_Load

    .hero-unit
      %h1 передача файлов бесплатно онлайн
      -#%ol
      -#  %li Выбери файл
      -#  %li Передай ссылку
    .container{style: 'margin-top: 80px'}
      %ol
        %li
          %h3 Выбери файл
          %form{method: 'post', action: "/upload", enctype: "multipart/form-data", target: "frame", class: 'upload form form-'}
            %input{type: "file", name: 'file', class: 'file_input'}
            -#%input{type: "submit", value: 'Create transfer', class: 'btn btn-primary'}

        %li.share{style: 'display: none;'}
          %h3 Отправь ссылку получателю
          %a{href: '#', target: '_blank'}

      .wait{style: "display: none"}
        %h3 Transfering data
        .progress
          .bar

      %iframe{style: 'width:0px; height:0px;', id: 'frame'}

    %script{src: '/js/jquery.min.js'}
    %script{src: '/js/bootstrap.min.js'}
    %script{src: '/js/app.js'}