.div{style: "float: left; width: 40%; border: 1px solid #dadada; height: 400px; overflow: auto"}
  %form{method: 'post', action: "/upload", enctype: "multipart/form-data", target: "frame"}
    %input{type: "file", name: 'file'}
    %input{type: "submit", value: 'upload'}
.div{style: "float: left; width: 40%; border: 1px solid #dadada; height: 400px; overflow: auto"}
  %iframe{src: '/download', style: "width: 100%; height: 400px"}
  %iframe{style: "width: 0%; height: 0px", id: 'frame'}